In [2]:
import pandas as pd
import os
from pathlib import Path

In [3]:
home = Path.cwd()
print(home)

/Users/matthewsheppard/Documents/genassembly/global-dev

In [4]:
print(home.parent)

/Users/matthewsheppard/Documents/genassembly

In [59]:
mortality_fileloc = "resources/mortality_rate_under5.csv"
co2total_fileloc = "resources/co2_emissions_kt.csv"
co2pc_fileloc = "resources/CO2_mt_percapita.csv"
electricity_fileloc = "resources/electricity_access.csv"
delimiter_character = '\c'

In [60]:
co2pc_df = pd.read_csv(co3pc_fileloc)
co2pc_df.drop(["2019", "2020"], axis=1, inplace=True)

In [61]:
co2pc_df = pd.read_csv(co2pc_fileloc)
co2pc_df = co2pc_df.rename(columns={"2018":"CO2percap_2018"})
selected_columns = co2pc_df[['Country Name', 'Country Code', 'CO2percap_2018']]
co2pc2018_df = selected_columns.copy()
co2pc2018_df.to_csv("resources/co2pc2018.csv", index=False)
co2pc2018_df.head(5)

                  Country Name Country Code  CO2percap_2018
0                        Aruba          ABW             NaN
1  Africa Eastern and Southern          AFE        0.933541
2                  Afghanistan          AFG        0.200151
3   Africa Western and Central          AFW        0.515544
4                       Angola          AGO        0.887380

In [57]:
electricitydf = pd.read_csv(electricity_fileloc)
electricitydf = electricitydf.rename(columns={"2018":"Electricity_2018"})
selected_columns = electricitydf[['Country Name', 'Country Code', 'Electricity_2018']]
electricity2018_df = selected_columns.copy()
electricity2018_df.to_csv("resources/electricity2018.csv", index=False)
electricity2018_df.head(5)

                  Country Name Country Code  Electricity_2018
0                        Aruba          ABW        100.000000
1  Africa Eastern and Southern          AFE         42.168241
2                  Afghanistan          AFG         98.715622
3   Africa Western and Central          AFW         51.253253
4                       Angola          AGO         45.290000

In [52]:
mortalitydf = pd.read_csv(mortality_fileloc)
mortalitydf = mortalitydf.rename(columns={"2018":"Mortality_2018"})
selected_columns = mortalitydf[['Country Name', 'Country Code', 'Mortality_2018']]
mortality2018_df = selected_columns.copy()
mortality2018_df.to_csv("resources/mortality2018.csv", index=False)
mortality2018_df.head(5)

                  Country Name Country Code  Mortality_2018
0                        Aruba          ABW             NaN
1  Africa Eastern and Southern          AFE       62.115387
2                  Afghanistan          AFG       62.500000
3   Africa Western and Central          AFW       99.598781
4                       Angola          AGO       77.700000

In [66]:
import pandas as pd
from functools import reduce

# compile the list of dataframes you want to merge
df2018_merged = [mortality2018_df, electricity2018_df, co2pc2018_df]
df2018_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country Code'],
                                            how='outer'), df2018_merged)
# need to look at the above line of code again. 
selected_columns = df2018_merged[['Country Name', 'Country Code', 'Mortality_2018', 'Electricity_2018', 'CO2percap_2018']]
df2018_merged = selected_columns.copy()
df2018_merged.to_csv("resources/combined2018data.csv", index=False)
df2018_merged.head(5)

,Country Name,Country Code,Mortality_2018,Electricity_2018,CO2percap_2018
0,Aruba,ABW,NaN,100.000000,NaN
1,Africa Eastern and Southern,AFE,62.115387,42.168241,0.933541
2,Afghanistan,AFG,62.500000,98.715622,0.200151
3,Africa Western and Central,AFW,99.598781,51.253253,0.515544
4,Angola,AGO,77.700000,45.290000,0.887380